@import "./Props.scss";

body{
    background: #d5dbdb;
}
.splash{
    width: 400px;
    height: 400px;
}

.green-belt{
    background: #128c7e;
    height: 15vh;
}
.messenger{
    background: #fff;
    top: 20px;
    right: 30px;
    bottom: 20px;
    left: 30px;
    border-radius: 3px;
    .inbox{
        width: 460px;
        border-right: 1px #ddd solid;

        .userbox{
            border-bottom: 1px #ccc solid;
            background: #eee;
            .you{
                flex:1;
                .user{
                    width: 40px;
                    height: 40px;
                    img{
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                    }
                }
            }
            .actions{
                flex: 1;
                justify-content: flex-end;
                button{
                    border: none;
                    outline: none;
                    width: 50px;
                    height: 50px;
                }
            }
        }
    }
    .chatbox{
        flex: 1;
    }
}